.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.produto img {
  margin-bottom: 1rem;
}

.preco {
  padding: 0.5rem;
  background: #91fb5d;
  color: #017e01;
  font-family: arial, verdana;
  border-radius: 3px;
}

.descricao {
  font-family: arial, verdana;
  font-size: 1.2rem;
  line-height: 1.2;
}
